<%= bootstrap_form_for(@exchange) do |f| %>
  <% if @exchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange.errors.count, "error") %> prohibited this exchange from being saved:</h2>

      <ul>
      <% @exchange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.date_field :deadline, 'data-provide'=>'datepicker' %>
  <%= f.select :closed, [['Open',false],['Closed',true]], { label: 'Status' } %>
  <%= f.text_field :owner, value: @exchange.owner.name, disabled: true %>
  <%= f.submit class: 'btn btn-primary' %> <%= link_to 'Cancel', exchanges_path, class: 'btn btn-default' %>
<% end %>
