<h1><%=t('headings.my_exchanges')%></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Owner</th>
      <th>Participants</th>
      <th>Status</th>
      <th>Participating?</th>
      <th>Join Link</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.name %></td>
        <td><%= exchange.deadline %></td>
        <td><%= exchange.owner.name %></td>
        <td><%= exchange.assignments.length %></td>
        <td><%= exchange.closed ? 'Close' : 'Open' %></td>
        <td><%= glyph(exchange.participating?(current_user) ? :ok : :remove, {}) %></td>
        <td><%= link_to exchange.join_link, exchange.join_link %></td>
        <td>
          <%= link_to glyph(:search,{}), exchange %>
          <% if exchange.owner == current_user %>
            <%= link_to glyph(:pencil,{}), edit_exchange_path(exchange) %>
            <%= link_to glyph(:trash,{}), exchange, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.present? %>
  <%= link_to t('headings.new_exchange'), new_exchange_path, class: 'btn btn-default' %>
<% end %>
