<h1><%=t('headings.my_exchanges')%></h1>

<div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th class="hidden-xs">Owner</th>
      <th>#</th>
      <th class="hidden-xs">Status</th>
      <th>In?</th>
      <th class="hidden-xs hidden-sm">Join Link</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= link_to exchange.name, exchange %></td>
        <td><%= exchange.deadline %></td>
        <td class="hidden-xs"><%= exchange.owner.name %></td>
        <td><%= exchange.assignments.length %></td>
        <td class="hidden-xs"><%= exchange.closed ? 'Closed' : 'Open' %></td>
        <td><%= glyph(exchange.participating?(current_user) ? :ok : :remove, {}) %></td>
        <td class="hidden-xs hidden-sm"><%= link_to exchange.join_link, exchange.join_link %></td>
        <td class="text-nowrap">
          <% if exchange.owner == current_user %>
            <%= link_to glyph(:pencil,{}), edit_exchange_path(exchange) %>
            <%= link_to glyph(:trash,{}), exchange, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if current_user.present? %>
  <%= link_to t('headings.new_exchange'), new_exchange_path, class: 'btn btn-default' %>
<% end %>
