<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exchange.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @exchange.deadline %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @exchange.owner_id %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
