<h1><%= @exchange.name %></h1>
<p class="lead"><%= @exchange.description %></p>

<dl>
<dt>Deadline</dt>
<dd><%= @exchange.deadline %></dd>

<dt>Owner</dt>
<dd><%= @exchange.owner.name %></dd>

<dt>Join link</dt>
<dd><%= link_to @exchange.join_link, @exchange.join_link %></dd>
</dl>
