<%= render partial: 'details' %>

<% if current_user.participating? @exchange %>
  <% assignment = current_user.elf_assignments.where(exchange_id: @exchange.id).first %>
  <% if assignment.recipient.nil? %>
    <h4><%= t('assignment.unassigned') %></h4>
  <% else %>
    <h3>Recipient Details</h3>
    <%= render partial: 'users/details', locals: { user: assignment.recipient.decorate } %>
  <% end %>
<% end %>

<% if current_user == @exchange.owner %>
  <h3>Participants</h3>
  <ul class="list-unstyled">
  <% @exchange.participants.each do |participant| %>
    <li>
      <%= content_tag(:span, class: participant.address.present? ? 'text-success' : 'text-danger') do %>
        <%= glyph(:envelope, {}) %> 
      <% end %>
      <%= participant.name %>
    </li>
  <% end %>
  </ul>
  <%= link_to t('assignment.shuffle'), shuffle_exchange_path(@exchange), method: :post, class: 'btn btn-primary' %>
<% end %>
