<%= bootstrap_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.text_area :address, rows: 6, label: t('user.shipping_address'), placeholder: t('user.shipping_address_help') %>
  <p><%= f.text_area :additional_info, rows: 6, label: t('user.additional_info'), placeholder: t('user.additional_info_help') %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
