<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= display_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar brand: '&nbsp;'.html_safe, fixed: :top, responsive: true do %>
    <%= menu_group pull: :right do %>
      <% if current_user.present? %>
        <%=  %>
        <%= menu_item current_user.name, edit_user_path(current_user) %>
        <%= menu_item t('sign_out'), signout_path %>
      <% else %>
        <%= menu_item t('sign_in'), signin_path, class: 'menu-signin' %>
      <% end %>
    <% end %>
    <%= menu_group do %>
      <%= menu_item t('headings.my_exchanges'), exchanges_path %>
    <% end %>
  <% end %>
  <div class="container">
    <% if current_user.present? and current_user.address.blank? %>
      <div class="alert alert-warning">
        <%=
          settings_link = link_to(t('user.edit_your_settings'), edit_user_path(current_user)).html_safe
          t('user.ship_warning', link_text: settings_link).html_safe
        %>
      </div>
    <% end %>
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <%= render partial: 'login_modal' %>
</body>
</html>
